<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marktreble.f3ftimer"
    android:versionCode="45"
    android:versionName="2.4.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
        android:name="F3FtimerApplication"
        android:requestLegacyExternalStorage="true"
        android:fullBackupContent="@xml/backup_rules">

        <uses-library
            android:name="com.android.future.usb.accessory"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.marktreble.f3ftimer.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <!-- Race Manager App -->
        <activity
            android:name=".racemanager.RaceListActivity"
            android:label="@string/app_race"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <activity
            android:name=".racemanager.RaceActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_race"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- Human Input Drivers -->
        <service
            android:name=".driver.USBIOIOService"
            android:label="F3F Race Timer Server"
            android:exported="false"
            android:process=".driver">
            <intent-filter>
                <action android:name=".RaceTimerService" />
            </intent-filter>
        </service>

        <service
            android:name=".driver.USBOpenAccessoryService"
            android:label="F3F Race Timer Server"
            android:exported="false"
            android:process=".driver"
            android:usesCleartextTraffic="true"
            tools:targetApi="m">
            <intent-filter>
                <action android:name=".RaceTimerService" />
            </intent-filter>
        </service>

        <service
            android:name=".driver.USBOtherService"
            android:label="F3F Race Timer Server"
            android:exported="false"
            android:process=".driver">
            <intent-filter>
                <action android:name=".RaceTimerService" />
            </intent-filter>
        </service>

        <service
            android:name=".driver.BluetoothHC05Service"
            android:label="F3F Race Timer Server"
            android:exported="false"
            android:process=".driver">
            <intent-filter>
                <action android:name=".RaceTimerService" />
            </intent-filter>
        </service>

        <service
            android:name=".driver.TcpIoService"
            android:label="Tcp Socket Server connecting to host raspberrypi on port 1234"
            android:exported="false"
            android:process=".driver">
            <intent-filter>
                <action android:name=".RaceTimerService" />
            </intent-filter>
        </service>

        <service
            android:name=".driver.SoftBuzzerService"
            android:label="F3F Race Timer Server"
            android:exported="false"
            android:process=".driver">
            <intent-filter>
                <action android:name=".RaceTimerService" />
            </intent-filter>
        </service>

        <service
            android:name=".driver.UDPService"
            android:label="F3F Race Timer Server"
            android:exported="false"
            android:process=".driver">
            <intent-filter>
                <action android:name=".RaceTimerService" />
            </intent-filter>
        </service>

        <service
            android:name=".racemanager.RaceResultsService"
            android:label="F3F Race Results Server"
            android:exported="false">
            <intent-filter>
                <action android:name=".RaceResultsService" />
            </intent-filter>
        </service>

        <service
            android:name=".racemanager.RaceResultsDisplayService"
            android:label="F3F Race Results Display Server"
            android:exported="false">
            <intent-filter>
                <action android:name=".RaceResultsDisplayService" />
            </intent-filter>
        </service>

        <!--  Results Manager App -->
        <activity
            android:name=".resultsmanager.ResultsActivity"
            android:label="@string/app_results"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".resultsmanager.ResultsRaceActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results" />

        <activity
            android:name=".resultsmanager.ResultsRoundInProgressActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results" />

        <activity
            android:name=".resultsmanager.ResultsCompletedRoundsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results" />

        <activity
            android:name=".resultsmanager.ResultsCompletedRoundActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results" />

        <activity
            android:name=".resultsmanager.ResultsLeaderBoardActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results" />

        <activity
            android:name=".resultsmanager.ResultsIndividualPilotActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results" />

        <activity
            android:name=".resultsmanager.ResultsTeamsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results" />

        <activity
            android:name=".resultsmanager.ResultsReadActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results" />

        <service
            android:name=".resultsmanager.ResultsReadService"
            android:label="F3F Race Results Reader"
            android:exported="false">
            <intent-filter>
                <action android:name=".ResultsReadService" />
            </intent-filter>
        </service>

        <!-- Pilot Manager App -->
        <activity
            android:name=".pilotmanager.PilotsActivity"
            android:label="@string/app_pilots"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  Dialogs -->
        <activity
            android:name=".dialog.NewRaceActivity"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />

        <activity
            android:name=".dialog.PilotsEditActivity"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />

        <activity
            android:name=".dialog.AboutActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".dialog.HelpActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".dialog.RaceTimerActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".dialog.NextRoundActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".dialog.SettingsActivity"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name=".dialog.TimeEntryActivity"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />

        <activity
            android:name=".dialog.RaceRoundTimeoutActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".dialog.GroupScoreEditActivity"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".dialog.FlyingOrderEditActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".dialog.StartNumberEditActivity"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".dialog.RotateEditActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".exportimport.BluetoothImportRace"
            android:theme="@style/Theme.Overlay" />

        <activity
            android:name=".exportimport.FileImportRace"
            android:theme="@style/Theme.Overlay" />

        <activity
            android:name=".exportimport.F3ftimerApiImportRace"
            android:theme="@style/Theme.Overlay" />

        <activity
            android:name=".exportimport.F3ftimerApiExportRace"
            android:theme="@style/Theme.Overlay" />

        <activity
            android:name=".dialog.F3fTimerAPILoginActivity"
            android:theme="@style/Theme.Overlay" />

        <activity
            android:name=".exportimport.F3xvaultApiImportRace"
            android:theme="@style/Theme.Overlay" />

        <activity
            android:name=".exportimport.F3xvaultApiExportRace"
            android:theme="@style/Theme.Overlay" />

        <activity
            android:name=".dialog.F3xvaultAPILoginActivity"
            android:theme="@style/Theme.Overlay" />

        <activity
            android:name=".exportimport.FileImportPilots"
            android:theme="@style/Theme.Overlay" />

        <activity
            android:name=".exportimport.BluetoothExportRace"
            android:theme="@style/Theme.Overlay" />

        <activity
            android:name=".exportimport.FileExportRace"
            android:theme="@style/Theme.Overlay" />

        <activity
            android:name=".exportimport.FileExportPilots"
            android:theme="@style/Theme.Overlay" />

    </application>


</manifest>
