<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marktreble.f3ftimer"
    android:versionCode="31"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	 
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/AppTheme"
        android:name="F3FtimerApplication">
        
        <uses-library android:name="com.android.future.usb.accessory" android:required="false"/>
        
                <!-- Race Manager App -->
        <activity
            android:name="com.marktreble.f3ftimer.racemanager.RaceListActivity"
            android:label="@string/app_race" 
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme" 
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       		<intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                                android:resource="@xml/accessory_filter" />
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        
        <activity
            android:name="com.marktreble.f3ftimer.racemanager.RaceActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_race"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        
        <!-- Human Input Drivers -->
		<service android:name=".driver.USBIOIOService"
		    	 android:label="F3F Race Timer Server"
		    	 android:exported="false"
		    	 android:process="com.marktreble.f3ftimer.driver">
    		<intent-filter>
        		<action android:name="com.marktreble.f3ftimer.RaceTimerService" />
    		</intent-filter>
   		</service>

        <service android:name=".driver.USBOtherService"
            android:label="F3F Race Timer Server"
            android:exported="false"
            android:process="com.marktreble.f3ftimer.driver">
            <intent-filter>
                <action android:name="com.marktreble.f3ftimer.RaceTimerService" />
            </intent-filter>
        </service>

        <service android:name=".driver.BluetoothHC05Service"
            android:label="F3F Race Timer Server"
            android:exported="false"
            android:process="com.marktreble.f3ftimer.driver">
            <intent-filter>
                <action android:name="com.marktreble.f3ftimer.RaceTimerService" />
            </intent-filter>
        </service>

        <service android:name=".driver.SoftBuzzerService"
            android:label="F3F Race Timer Server"
            android:exported="false"
            android:process="com.marktreble.f3ftimer.driver">
            <intent-filter>
                <action android:name="com.marktreble.f3ftimer.RaceTimerService" />
            </intent-filter>
        </service>

        <service android:name="com.marktreble.f3ftimer.racemanager.RaceResultsService" android:label="F3F Race Results Server" android:exported="false">
    		<intent-filter>
        		<action android:name="com.marktreble.f3ftimer.RaceResultsService" />
    		</intent-filter>
		</service>

        <service android:name="com.marktreble.f3ftimer.racemanager.RaceResultsDisplayService" android:label="F3F Race Results Display Server" android:exported="false">
            <intent-filter>
                <action android:name="com.marktreble.f3ftimer.RaceResultsDisplayService" />
            </intent-filter>
        </service>


        <!--  Results Manager App -->
        <activity
            android:name=".resultsmanager.ResultsActivity"
            android:label="@string/app_results" 
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme" 
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".resultsmanager.ResultsRaceActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results">
        </activity>

        <activity
            android:name=".resultsmanager.ResultsRoundInProgressActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results">
        </activity>
        
        <activity
            android:name=".resultsmanager.ResultsCompletedRoundsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results">
        </activity>
                
        <activity
            android:name=".resultsmanager.ResultsCompletedRoundActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results">
        </activity>
        
        <activity
            android:name=".resultsmanager.ResultsLeaderBoardActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_results">
        </activity>
        
				
		<!-- Pilot Manager App -->
        <activity
            android:name=".pilotmanager.PilotsActivity"
            android:label="@string/app_pilots"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask" 
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  Dialogs -->
        <activity
            android:name="com.marktreble.f3ftimer.dialog.NewRaceActivity" android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
        </activity>
        
        <activity
            android:name="com.marktreble.f3ftimer.dialog.PilotsEditActivity" android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
        </activity>
        
        <activity
            android:name="com.marktreble.f3ftimer.dialog.AboutActivity" android:theme="@style/Theme.Transparent">
        </activity>

        <activity
            android:name="com.marktreble.f3ftimer.dialog.HelpActivity" android:theme="@style/Theme.Transparent">
        </activity>
        
        <activity
            android:name="com.marktreble.f3ftimer.dialog.RaceTimerActivity" android:theme="@style/Theme.Transparent">
  		</activity>

        <activity 
            android:name="com.marktreble.f3ftimer.dialog.NextRoundActivity" android:theme="@style/Theme.Transparent">
  		</activity>

        <activity
            android:name="com.marktreble.f3ftimer.dialog.SettingsActivity" android:theme="@style/Theme.Transparent">
  		</activity>

        <activity
            android:name="com.marktreble.f3ftimer.dialog.TimeEntryActivity" android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
  		</activity>

        <activity
            android:name="com.marktreble.f3ftimer.dialog.RaceRoundTimeoutActivity" android:theme="@style/Theme.Transparent">
  		</activity>

        <activity
            android:name="com.marktreble.f3ftimer.dialog.GroupScoreEditActivity" android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
        </activity>

        <activity
            android:name="com.marktreble.f3ftimer.dialog.FlyingOrderEditActivity" android:theme="@style/Theme.Transparent">
        </activity>

        <activity
            android:name="com.marktreble.f3ftimer.dialog.StartNumberEditActivity" android:theme="@style/Theme.Transparent">
        </activity>

        <activity
            android:name=".exportimport.BluetoothImportRace" android:theme="@style/Theme.Overlay">
        </activity>

        <activity
            android:name=".exportimport.FileImportRace" android:theme="@style/Theme.Overlay">
        </activity>

        <activity
            android:name=".exportimport.F3ftimerApiImportRace" android:theme="@style/Theme.Overlay">
        </activity>

        <activity
            android:name=".dialog.F3fTimerAPILoginActivity" android:theme="@style/Theme.Overlay">
        </activity>

        <activity
            android:name=".exportimport.FileImportPilots" android:theme="@style/Theme.Overlay">
        </activity>

        <activity
            android:name="com.marktreble.f3ftimer.exportimport.BluetoothExportRace" android:theme="@style/Theme.Overlay">
        </activity>

        <activity
            android:name=".exportimport.FileExportRace" android:theme="@style/Theme.Overlay">
        </activity>

        <activity
            android:name=".exportimport.FileExportPilots" android:theme="@style/Theme.Overlay">
        </activity>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>


</manifest>